In [2]:
import pandas as pd
import os
!pip install kaggle --upgrade --quiet

# M1 T02: Data exploration and structure - Dataframes with Pandas
Description

Familiarize yourself with data exploration techniques using the data structure, Dataframe with the Pandas library. Level 1

The data used will be taken from Kaggle's datasets **Airlines Delay** found at [Kaggle](https://www.kaggle.com/giovamata/airlinedelaycauses) by [Giovanni Gonzalez](https://www.kaggle.com/giovamata)

## - Exercise 1
Download the Airlines Delay: Airline on-time statistics and delay causes data set and upload it to a Dataframe pandas. Explore the data it contains, and keep only the columns you consider relevant.

In [3]:
# Prepare directories
root = os.getcwd()

# Change working directory
new_wd = "kaggle-airline-df"
wd_dir = os.path.join(root,new_wd)
if not os.path.isdir(wd_dir):
    os.mkdir(wd_dir)

os.chdir(wd_dir)

# Dataset location
dataset_dir = os.path.join(wd_dir,"input")
if not os.path.isdir(dataset_dir):
    os.mkdir(dataset_dir)

os.chdir(dataset_dir)

# Download the dataset using Kaggle's API
!kaggle datasets download giovamata/airlinedelaycauses
!unzip airlinedelaycauses.zip
!rm airlinedelaycauses.zip
os.chdir(wd_dir)

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/noone/.kaggle/kaggle.json'
Downloading airlinedelaycauses.zip to /home/noone/data-exercises/kaggle-airline-df/kaggle-airline-df/input
 98%|█████████████████████████████████████ | 65.0M/66.6M [00:03<00:00, 25.4MB/s]
100%|██████████████████████████████████████| 66.6M/66.6M [00:03<00:00, 20.7MB/s]
Archive:  airlinedelaycauses.zip
  inflating: DelayedFlights.csv
  inflating: st99_d00.dbf
  inflating: st99_d00.shp
  inflating: st99_d00.shx

In [4]:
# As this is a dataset centered around flight delays, the main purpose is to analyze the timings related to routes, companies, airports, etc.
# By reading the column names, there are some that will not be of interest, which will be removed

# Load only the column names from the CSV file
file_name = "input/DelayedFlights.csv"
col_names = pd.read_csv(file_name, nrows=1).columns.tolist()
print(col_names)

['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [5]:
# Let's list the undesired columns
undesired_cols_indices = ["Cancelled", "CancellationCode"]
# Remove them from the col_names
dummy = [col_names.remove(undesired) for undesired in undesired_cols_indices]

In [6]:
# Now load the CSV data file with only the desired data, using the first column as index.
# The index usually does not have any name, maybe because of that the shown name is "Unnamed:0"
df = pd.read_csv(file_name, usecols=col_names, index_col=0)
# Let's take a look
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Dest,Distance,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,TPA,810,4.0,8.0,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,TPA,810,5.0,10.0,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,BWI,515,3.0,17.0,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,BWI,515,3.0,10.0,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,JAX,688,4.0,10.0,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head()

## - Exercise 2
Make a complete report of the date set:

- Summarize the columns of interest statistically
- Find how many missing data are per column
- Create new columns (average flight speed, whether late or not ...)
- Table of airlines with the most accumulated arrears
- What are the longest flights? And the most backward?

In [8]:
# In order to summarize the values we use the built-in pandas function of "summarize"
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,DepDelay,Distance,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,1.928371e+06,...,1.936758e+06,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,1.333059e+02,...,4.318518e+01,7.656862e+02,6.812975e+00,1.823220e+01,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,7.206007e+01,...,5.340250e+01,5.744797e+02,5.273595e+00,1.433853e+01,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,...,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,8.000000e+01,...,1.200000e+01,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,1.160000e+02,...,2.400000e+01,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,1.650000e+02,...,5.300000e+01,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,1.114000e+03,...,2.467000e+03,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [26]:
# Find out missing data per column
df.isna().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
Date                      0
dtype: int64

In [39]:
# Create new columns

# New column for average flight speed
# Assuming Airtime is minutes and distance is kilometer
df["avg_speed"] = df["Distance"] / (df["AirTime"]/60)

# Whether late or not
df['is_Late?'] = (df["ArrTime"] - df["CRSArrTime"]).apply(lambda x: 'True' if x>0 else 'False')

df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,avg_speed,is_Late?
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,NaN,NaN,NaN,NaN,2008/1/3,418.965517,False
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,NaN,NaN,NaN,NaN,2008/1/3,430.088496,True
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,NaN,NaN,NaN,NaN,2008/1/3,406.578947,True
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,2.0,0.0,0.0,0.0,32.0,2008/1/3,401.298701,True
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,10.0,0,NaN,NaN,NaN,NaN,NaN,2008/1/3,474.482759,True

In [59]:
# Table of airlines with the most accumulated delays
# In order to sort airlines by total delays first each delay has to be summed up. In order to do that
# the NaNs have to be imputed with 0s (which is the value that has to go there). Then summation and
# grouping by carriers.
df.fillna(value=0,inplace=True)
df["Total_delay"] = df["ArrDelay"] + df["CarrierDelay"] + df["WeatherDelay"] + df["NASDelay"] + df["LateAircraftDelay"]
# df.groupby(by=["UniqueCarrier","Total_delay"]).sum()
df.groupby(df["UniqueCarrier"]).Total_delay.sum().sort_values()

UniqueCarrier
AQ       30290.0
HA      488746.0
F9     1509504.0
AS     2760146.0
9E     4775792.0
OH     5291761.0
B6     6028917.0
FL     6088585.0
NW     6813848.0
US     7059980.0
YV     7283571.0
EV     7660058.0
CO     8012087.0
DL     8930344.0
XE    10217800.0
OO    11731664.0
MQ    12581871.0
UA    13365381.0
AA    17579324.0
WN    22009943.0
Name: Total_delay, dtype: float64

In [69]:
# What are the longest flights?
df[df['AirTime'] == df["AirTime"].max()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,avg_speed,is_Late?,Total_delay
5180146,2008,9,9,2,1411.0,920,545.0,1215,HA,21,...,0,1040.0,0.0,0.0,0.0,10.0,2008/9/9,147.222731,False,2100.0

In [71]:
# And the most backward?
df[df['AirTime'] == df["AirTime"].min()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,avg_speed,is_Late?,Total_delay
1763,2008,1,3,4,922.0,915,0.0,1050,WN,1069,...,1,0.0,0.0,0.0,0.0,0.0,2008/1/3,0.0,False,0.0
1911,2008,1,3,4,2325.0,1900,0.0,2030,WN,2092,...,1,0.0,0.0,0.0,0.0,0.0,2008/1/3,0.0,False,0.0
2651,2008,1,4,5,1949.0,1905,0.0,1910,WN,1403,...,1,0.0,0.0,0.0,0.0,0.0,2008/1/4,0.0,False,0.0
2726,2008,1,4,5,737.0,705,0.0,825,WN,178,...,1,0.0,0.0,0.0,0.0,0.0,2008/1/4,0.0,False,0.0
3672,2008,1,4,5,1849.0,1630,0.0,1755,WN,239,...,1,0.0,0.0,0.0,0.0,0.0,2008/1/4,0.0,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7006289,2008,12,10,3,1459.0,1447,0.0,1650,DL,1706,...,0,0.0,0.0,0.0,0.0,0.0,2008/12/10,0.0,False,0.0
7006401,2008,12,11,4,1355.0,1106,7.0,1950,DL,26,...,1,0.0,0.0,0.0,0.0,0.0,2008/12/11,0.0,False,0.0
7006809,2008,12,11,4,1026.0,955,0.0,1219,DL,892,...,0,0.0,0.0,0.0,0.0,0.0,2008/12/11,0.0,False,0.0
7007034,2008,12,11,4,1527.0,1520,2106.0,1708,DL,1102,...,1,0.0,0.0,0.0,0.0,0.0,2008/12/11,0.0,True,0.0
7008584,2008,12,12,5,703.0,630,0.0,734,DL,1372,...,0,0.0,0.0,0.0,0.0,0.0,2008/12/12,0.0,False,0.0